body, div, header, aside, section, footer, p, h1,h2, h3, h4, h5, h6, br, ul, ol, li, a, img {margin:0; padding:0} 
body{background-color:var(--marlenis-color)}
.text-panel{
    color: white;
    font-size: 6em;
    width: 12em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    
}
